<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Cucumber TestNG Suite" parallel="tests" thread-count="2">
    <test name="Cucumber Scenarios">
        <classes>
            <class name="com.example.automation.runners.TestRunner"/>
        </classes>
    </test>
</suite>
